<h3> Uploaded Files</h3>
<style>
       table, th, td {
    border: 1px solid black;
  }
     </style>
<table>
  <tr>
    <th>Filename</th>
     <th>Uploaded</th>
  </tr>
     <% CsvFile.where(user_id: current_user.id).each do |file| %>
    <tr>
      <td><%= link_to(file.filename, "/file/#{file.id}") %></td>
      <td><%= file.uploaded %></td>
  <% end %>
</table>